{% extends "layout.html" %}

{% block title %}
    New_product
{% endblock %}

{% block contents %}
    <div class="auth">
        <div class="logo">
            <img src="/media/product_images/nu_logo.png" alt="NU LOGO">
            <h1 class="title">NU Marketplace</h1>
        </div>
        <form class="form-with-validation" action="{% url 'user:new_product' %}" method="post" enctype="multipart/form-data">
            <div class="product-form">
                {% csrf_token %}
                <div class="upload-preview-image">
                    <div>
                        <label>Image:</label>
                        <input type="file" name="image" accept="image/*" id="id_image">
                    </div>
                    
                    <div id="previewContainer" style="margin-top: 10px;">
                        <img id="previewImage" src="#" alt="Image Preview" style="display: none; max-width: 370px; max-height: 370px;">
                    </div>
                </div>

                <div class="text-input-container">
                    <div class="input-container">
                        <input type="text" name="product_name" maxlength="100" placeholder="Product Name" required id="id_product_name">
                    </div>

                    <div class="textarea-container">
                        <textarea name="description" cols="40" rows="40" placeholder="Description" required id="id_description"></textarea>
                    </div>

                    
                    <div class="numeric-input-container">
                        <input type="number" name="price" step="any" placeholder="Price" required id="id_price">
                        <input type="number" name="stocks" placeholder="Stocks" required id="id_stocks">
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="submit-form">Submit</button>

                </div>
            </div>   
        </form>
    </div>
    

{% endblock %}