{% extends "layout.html" %}

{% block title %}
    New_product
{% endblock %}

{% block contents %}
<form class="form-with-validation" action="{% url 'user:new_product' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    <div class="form-div">
        <label>Product Name: </label>
        {{ form.product_name}}
    </div><br><br>
    <div class="form-div">
        <label>Description: </label><br>
        {{ form.description}}
    </div><br><br>
    <div class="form-div">
        <label>Price: </label>
        {{ form.price}}
    </div><br><br>
    <div class="form-div">
        <label>Stocks: </label>
        {{ form.stocks}}
    </div><br><br>
    <div class="form-div">
        <label>Image: </label>
        {{ form.image}}
    </div>

    <!-- Submit Button -->
    <button type="submit" class="submit-form">Submit</button>
</form>

{% endblock %}