{% extends "layout.html" %}

{% block title %}
    Products
{% endblock %}

{% block contents %}

    <h1 style="text-align: center; padding-top: 20px; color: #888;">Products</h1>
    <div class="container" >
    {% for item in product %}
    <section>
        <a href="{% url "user:product_info" slug=item.slug %}">    
            <div name="border">
                <article class="item-product-display">
                    <div class="image-container" name="border">
                        <img class="image" src="{{ item.image.url }}" alt="{{ item.title }}"> 
                    </div>
                    <h2>{{ item.product_name }}</h2>
                    <p class="product-description-text">{{ item.description }}</p>
                    <p>{{ item.price }}</p>
                    <p>{{ item.stocks }}</p>
                    <h3>Seller: {{ item.seller }}</h3>
                </article>
            </div>
        </a>    
    </section>
    {% endfor %}
    <a href="{% url "user:new_product" %}">
        <div class="new-product-display" name="border">
            <h1>+</h1>
        </div>
    </a>
    </div>

{% endblock %}