{% extends "layout.html" %}

{% block title %}
    {{ product.product_name }}
{% endblock %}

{% block contents %}
    <h1>Product Information</h1>
        <section>
            <div class="image-container">
                <img class="image" src="{{ product.image.url }}" alt="{{ product.title }}"> 
            </div>
            <h2>{{ product.product_name }}</h2>
            <p>{{ product.description }}</p>
            <p>{{ product.price }}</p>
            <p>{{ product.stocks }}</p>
            <h3>Seller: {{ product.seller }}</h3>
            <a href="{% url "user:delete" product.product_id %}">
                    <button >Delete</button>
            </a><br><br><br>
            <button id="editButton">Edit</button>
        </section>
 
            <div id="editFormContainer" class="hidden-form">
                <div class="form-content">
                    <span id="closeButton" class="close">&times;</span>
                    <form method="POST" action="{% url 'user:update' product.product_id %}">
                        {% csrf_token %}
                            <br>
                            <div class="form-div">
                                <label>Product Name: </label>
                                {{ form.product_name}}
                            </div><br><br>
                            <div class="form-div">
                                <label>Description: </label><br>
                                {{ form.description}}
                            </div><br><br>
                            <div class="form-div">
                                <label>Price: </label>
                                {{ form.price}}
                            </div><br><br>
                            <div class="form-div">
                                <label>Stocks: </label>
                                {{ form.stocks}}
                            </div><br><br>
                            <div class="form-div">
                                <label>Image: </label>
                                {{ form.image}}
                            </div><br>
                        <button type="submit">Save Changes</button>
                    </form>
                </div>
            </div>
         
{% endblock %}