{% extends "layout.html" %}

{% block title %}
    {{ product.product_name }}
{% endblock %}

{% block contents %}
    <h1>Product Information</h1>
        <section>
            <div class="image-container">
                <img class="image" src="{{ product.image.url }}" alt="{{ product.title }}"> 
            </div>
            <h2>{{ product.product_name }}</h2>
            <p>{{ product.description }}</p>
            <p>{{ product.price }}</p>
            <p>{{ product.stocks }}</p>
            <h3>Seller: {{ product.seller }}</h3>
            <a href="{% url "user:delete" product.product_id %}">
                    <button >Delete</button>
            </a><br><br><br>
            <button id="editButton">Edit</button>
        </section>
 
            <div id="editFormContainer" class="hidden-form">
                <div class="form-content">
                    <span id="closeButton" class="close">&times;</span>
                        <form method="POST" action="{% url 'user:update' product.product_id %}">
                        {% csrf_token %}
                        <label for="product_name">Product Name:</label><br>
                        <input type="text" id="product_name" name="product_name" value="{{ product.product_name }}"><br><br>
        
                        <label for="description">Description:</label><br>
                        <textarea id="description" name="description">{{ product.description }}</textarea><br><br>
        
                        <label for="price">Price:</label><br>
                        <input type="number" id="price" name="price" value="{{ product.price }}"><br><br>
        
                        <label for="stocks">Stocks:</label><br>
                        <input type="number" id="stocks" name="stocks" value="{{ product.stocks }}"><br><br>

                        <label for="image">Image:</label><br>
                        {% if product.image %}
                            <p>Current Image:</p>
                            <img src="{{ product.image.url }}" alt="Product Image" style="max-width: 200px;"><br>
                            <p>{{ product.image.name }}</p>
                        {% else %}
                            <p>No image uploaded yet.</p>
                        {% endif %}
                        <input type="file" id="image" name="image" value="{{ product.image.url }}"><br><br>
        
                        <button type="submit">Save Changes</button>
                    </form>

                </div>
            </div>
         
{% endblock %}