{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block contents %}
    <section>
        <div class="auth">
            <div class="login">
                <div class="logo">
                    <img src="/media/product_images/nu_logo.png" alt="NU LOGO">
                    <h1 class="title">NU Marketplace</h1>
                </div>
                <div class="form-container">
                    <form class="form-with-validation" action="{% url "auth:login" %}" method="post">
                        {% csrf_token %}
                        <div class="input-container">
                            <img src="/media/product_images/user_logo.png" alt="user">
                            <input type="text" name="username" class="text-input" placeholder="Username" required><br>
                        </div>
                        <div class="input-container">   
                            <img src="/media/product_images/password_logo.png" alt="password ">
                            <input type="password" name="password" class="text-input" placeholder="Password" required><br>
                        </div>
    
                        <div class="submit-form">
                            <button>Submit</button>
                        </div>
                    </form>
                </div>         
            </div>
        </div>
    </section>
{% endblock %}