{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block contents %}
    <div class="auth">
        <div class="register">
            <div class="logo">
                <img src="/media/product_images/nu_logo.png" alt="NU LOGO">
                <h1 class="title">NU Marketplace</h1>
            </div>
            <br>
            <div class="form-container">
                <form class="form-with-validation" action="{% url "auth:register" %}" method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                        <p style="color:red">Username or the password might be incorrect</p>
                    {% endif %}
                    <label for="username">Username: </label>
                    <div class="input-container">
                        <img src="/media/product_images/user_logo.png" alt="user">
                        <input type="text" name="username" class="text-input" placeholder="150 characters or fewer." required><br>
                    </div>
                    <label for="contact">Contact:</label>
                    <div class="input-container">
                        <img src="/media/product_images/phone_logo.png" alt="user">
                        <input type="text" name="contact" class="text-input" placeholder="Contact" required><br>
                    </div>

                    <label for="email">Email: </label>
                    <div class="input-container">
                        <img src="/media/email.png" alt="user">
                        <input type="email" name="email" maxlength="254" placeholder="Email:" required>
                    </div>
                    
                    <label for="password1">Password:</label>
                    <div class="input-container">   
                        <img src="/media/product_images/password_logo.png" alt="password">
                        <input type="password" name="password1" class="text-input" placeholder="Your password must contain at least 8 characters" required><br>
                    </div>            
                    <label for="password2">Password Confirmation: </label>
                    <div class="input-container">   
                        <img src="/media/product_images/password_logo.png" alt="password">
                        <input type="password" name="password2" class="text-input" placeholder="Confirm Password" required><br>
                    </div>
                    <div class="submit-form">
                        <button>Submit</button>
                    </div>                
                </form>
            </div>
        </div>
    </div>
{% endblock %}