{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block contents %}
    <div class="auth">
        <div class="register">
            <div class="logo">
                <img src="/media/product_images/nu_logo.png" alt="NU LOGO">
                <h1 class="nav-title">NU Marketplace</h1>
            </div>
            <div class="form-container">
                <form class="form-with-validation" action="{% url "auth:register" %}" method="post">
                    {% csrf_token %}
                    <label for="username">Username: </label>
                    {% comment %} <ul>
                        <li>Required</li>
                        <li>150 characters or fewer. Letters, digits and @/./+/-/_ only.</li>
                    </ul> {% endcomment %}
                    <input type="text" name="username" class="input-text" placeholder="Username" required>
            
                    <label for="contact">Contact: </label>
                    <input type="text" name="contact" class="input-text" maxlength=11 placeholder="Contact" required>
                    <label for="password1">Password:</label>
                    {% comment %} <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul> {% endcomment %}
                    <input type="password" name="password1" class="input-text" placeholder="Password" required>
            
                    <label for="password2">Password Confirmation: </label>
                    <input type="password" name="password2" class="input-text" placeholder="Password" required>
                    <button class="submit-form">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}